body{margin:0px; padding:0px; font:normal 12px/20px 'Arial', '宋体'; text-align:center; background:url(../images/public.gif) repeat-x left -543px;}
img{border:none;}
p, h1, h2, h3, h4, h5, h6, form, input{margin:0px; padding:0px;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color:#f60;}
.mg-t10{margin-top:10px;}
.mg-tmenu{margin-top:290px;}
.fleft{float:left;}.fright{float:right;}
.c-red{color:#f00;}.c-orange{color:#f60;}
.price{padding-left:10px; background:url(../images/public.gif) no-repeat -386px -435px; color:#f60; font:bold 18px/20px 'Arial';}

#mainbox{margin:0px auto; text-align:left; width:980px;}
#ptop{float:left; width:980px; height:27px; line-height:25px; color:#999;}
#plogin{padding-left:40px; background:url(../images/public.gif) no-repeat -145px -318px;}
#pregister{padding-left:20px; background:url(../images/public.gif) no-repeat -165px -346px;}
.phone{font:bold 16px/25px 'Arial'; color:#f60;}
#header{float:left; width:980px; height:90px;}
#webtitle{float:left; margin-top:15px; width:380px; height:70px; overflow:hidden;   }

#menudiv{position:relative; z-index:1000; float:left; width:980px; height:40px; }
#menus{ position:absolute; top:-40px; left:400px; list-style:none; margin:0px; padding:0px; width:500px; height:42px;}
#menus li{float:left; width:100px; text-align:center; font:bold 14px/42px '宋体'; color:#000; background:url(../images/public.gif) no-repeat -190px -80px;}
#menus li a{display:block; color:#000;}
#menus li a:hover{text-decoration:none; color:#f60;}
#menus li.first{ background-position:-80px -80px;}
#menus li.end{float:right; background-position:right -80px; border:none;}
#menus li a.now{display:block; color:#fff; background:url(../images/public.gif) no-repeat -190px -130px;}
#menus li a.now:hover{color:#fff;}
#menus li.first a.now{background-position:-80px -130px;}
#menus li.end a.now{background-position:right -130px;}

#psearch{float:left; display:inline; margin:8px 0px 0px 270px; width:380px; height:24px; background:url(../images/public.gif) no-repeat -20px -190px;}
#keyword{float:left; color:#aaa; display:inline; margin:2px 0px 0px 15px; padding:0px; width:305px; height:20px; line-height:20px; background:none; border:none;}
#pbtn{float:right; margin:2px 0px 0px 0px; padding:0px; width:55px; height:20px; overflow:hidden; text-indent:-999em; line-height:20px; background:none; border:none; cursor:pointer;}

#pcart{float:right; display:inline; margin:8px 10px 0px 0px; width:178px;}
#pcartnum{float:left; width:150px; height:24px; font:normal 12px/24px 'Arial'; text-indent:25px; background:url(../images/public.gif) no-repeat -176px -230px;}
#pcheck{float:right; width:24px; height:24px; overflow:hidden; text-indent:-999em; background:url(../images/public.gif) no-repeat -333px -230px;}

.fleft190{float:left; width:190px;}
/*************** 所有产品分类 **************/
#productsort{position:absolute; left:0px; top:5px; width:190px;}
#typetitle{height:35px; overflow:hidden; text-indent:-999em; background:url(../images/public.gif) no-repeat -5px -270px;}
#typemenu{list-style:none; margin:0px; padding:0px; background:#FFFBDB; border:1px solid #E7A300; border-top:none;}
#typemenu li{height:34px; margin:0px; background:url(../images/public.gif) no-repeat right -373px; border-bottom:1px solid #F4DFCA;}
#typemenu li a{display:block; font:normal 14px/34px 'Arial'; text-indent:35px; color:#913218; background:url(../images/public.gif) no-repeat -370px -341px;}
#typemenu li a:hover{text-decoration:none; background:#fff url(../images/public.gif) no-repeat -370px -341px;}
.title2{font:bold 14px/30px '宋体'; color:#000; text-indent:10px; background:#f3f3f3; border:1px solid #ccc;}
.fright190{float:right; width:190px;}


#pcontent{float:left; width:980px;}



/** 底部帮助链接 **/
#pbphone p{ color:#666; padding:0px 0px 10px 25px; line-height:24px; }
#pbphone span{ font-size:20px; color:#f60; font-weight:bold;}
#pintro{margin:auto; width:978px; background:#f3f3f3; border:1px solid #d3d3d3; margin-top:10px; height:140px; padding:10px 0px 0px 0px; }
#pintro #pbphone{ float:left; width:200px; }
#pintro .pbdt{ float:left; width:130px; margin-left:20px; }
#pintro dl dt{list-style:none; margin:0px; padding:0px; width:130px; height:25px; overflow:hidden; text-indent:-999em; background:url(../images/public.gif) no-repeat 0px -315px;}
#pintro dl dd{margin:0px; padding:0px; background:url(../images/public.gif) no-repeat -378px -401px; text-indent:20px; line-height:24px;  }
#pintro dl dd a{color:#666;}
#pintro #ico2{ background-position:0px -355px;}
#pintro #ico3{ background-position:0px -395px;}
#pintro #ico4{ background-position:0px -435px;}
#pintro #ico5{ background-position:0px -475px;}

.footer{ background:white;clear:both; }
#botlink{clear:both; text-align:center; line-height:28px; font-family:'宋体'; padding-top:10px;}
#copyright{ text-align:center; padding-bottom:20px;color:#666;  }




#pcart .clist{position:absolute; top:32px; right:0px; display:none; padding-bottom:10px; border:1px solid #E7A300;  width:230px; background:#fff;}
#pcart .clist dd{float:left; margin-top:10px; padding-bottom:10px; width:230px; border-bottom:1px dashed #ccc;}
#pcart .clist dd .img{ float:left; margin:5px 0px 0px 10px; display:inline; width:50px; text-align:center; background:#fff; border:1px solid #EBECED;}
#pcart .clist dd .pn{ float:right; display:inline; margin-right:10px; width:150px; line-height:18px;}
#pcart .clist dd .pn .hcolor3{color:#999;}
.cart_out{float:right; display:inline; margin:10px 10px 0px 0px; text-align:right;}
.porder{padding:3px 5px; background:#f60; color:#fff; border:1px solid #c95304; border-width:0px 1px 1px 0px;}
.porder:hover{color:#fff; text-decoration:none;}


#psearch{float:left; display:inline; margin:8px 0px 0px 270px; width:380px; height:24px; background:url(../images/public.gif) no-repeat -20px -190px;}
#keyword{float:left; display:inline; margin:2px 0px 0px 15px; padding:0px; width:305px; height:20px; line-height:20px; background:none; border:none;}
#psbtn{float:right; margin:2px 0px 0px 0px; padding:0px; width:55px; height:20px; overflow:hidden; text-indent:-999em; line-height:20px; background:none; border:none; cursor:pointer;}

#pcart{float:right; display:inline; margin:8px 10px 0px 0px; width:178px;}
#pcartnum{float:left; width:150px; height:24px; font:normal 12px/24px 'Arial'; text-indent:25px; background:url(../images/public.gif) no-repeat -177px -230px;}
#pcheck{float:right; width:24px; height:24px; overflow:hidden; text-indent:-999em; background:url(../images/public.gif) no-repeat -333px -230px;}

 dl,dl dd,ul,ul li{ list-style:none; margin:0px;padding:0px;}
.nonebg{background:none;}



/*** 弹出对话框 ***/
.mask{ z-index:1000; position:absolute;left:0px;top:0px; background:gray; width:100%;
filter: alpha(opacity=10);
-moz-opacity:0.1;
opacity: 0.1;
}
.dialog{
	z-index:1001;
	position:absolute;
	width:420px;
	height:auto;
	border:5px solid #CCCCCC;
	background:white;text-align:left;
}
.dialog .b{ border:1px solid #A7A7A7; height:auto;}
.dialog .t{
	padding:0px;
	display:block;
	width:100%;
  	line-height:26px;
	font-weight:bold;
 	height:22px;

}
.t .h3{ padding-left:10px; font-size:14px;}
.dclose{
	float:left;
	cursor:pointer;
	margin:10px 5px 0px 0px;
	float:right; width:32px;height:16px; font-weight:normal;line-height:12px;
	padding-left:18px;
	background:url(../images/cl.gif) no-repeat left top;
}
a.dclose:hover{ background:url(../images/cl.gif) no-repeat left -15px; }
.dialog .con{ padding:5px 10px; line-height:28px; min-height:60px;_height:60px; }
.dialog .loading{ width:100%;background:url(../images/loading-home.gif) no-repeat white center center; }
.con .label{width:70px;display:inline-block;}
.con .button{ padding:10px 0px 0px 75px; }
.logintable tr td{ font-size:12px; padding:0px 0px 5px 0px; }
.repass{ border:1px solid #DAE0F0; padding:20px; text-align:center; margin:5px 0px 10px 0px; background:#F6F5FA; line-height:32px; }
.repass .message{ width:100px;margin:auto; text-align:left;}

.logininp{ width:120px; }
.clr{ clear:both; height:1px; overflow:hidden; }
/** 收产品提示 **/
.pop_inf{ height:30px;display: inline-block; padding-left:32px; background:url(../images/bg.gif) no-repeat -81px -107px; }

.pop_btn {
    background: url("../images/bg.gif") no-repeat scroll 0px -138px transparent;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 0 10px;
    text-align: center;
    width: 108px; font-size:12px;
}
.info_a{ font-size:12px; }


.page{clear:both; padding:20px 0px; line-height:20px; text-align:center;} 
.page span a,.page_num_word,.page_current{padding:3px 5px; margin:0px 5px; font:bold 12px/20px 'Arial'; border:1px solid #666; font-weight:normal;}
.page_current{  background:#108A03;border:1px solid #108A03;color:white; }
.page_num_word{ color:#999; border:1px solid #ccc;}
.page a{padding:3px 5px; font:bold 14px/20px 'Arial'; border:1px solid #999; }
.page a:hover{text-decoration:none; border:1px solid #f60;}
.page .pl,.page .pr{ display:inline-block;margin:0px 5px; *display:inline; }


#listroot{float:left; margin-top:10px; width:780px;}
#dtroot{float:left; margin-top:10px; width:980px;}
#root{list-style:none; margin:0px; padding:0px; height:28px; background:#f9f9f9; border:1px solid #c4c4c4;}
#root li{float:left; padding:0px 10px 0px 20px; font:normal 12px/28px '宋体'; background:url(../images/public.gif) no-repeat -386px -464px;}
#root li.home{padding:0px; background:none;}
#root li.home a{display:block;  width:40px; overflow:hidden; text-indent:-999em; background:url(../images/public.gif) no-repeat -295px -463px;}
#root li a.amore{padding-right:10px; background:url(../images/dot3.gif) no-repeat right center;}
#root li ul{display:none; position:absolute; left:0px; top:28px; list-style:none; margin:0px; padding:0px; background:#f3f3f3; border:1px solid #c4c4c4;}
#root li ul li{padding:3px 0px 3px 20px; background:url(../images/dot1.gif) no-repeat 10px center;}
