RewriteEngine On
#RewriteCond %{REQUEST_URI} !^/i/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) /index.php/$1
#RewriteRule ^(.*).html(.*) /index.php/$1.html$2
RewriteRule ^i(/[a-zA-Z0-9]+)+$ i/index.php/$1
