/**头部样式**/
.sub_topbar{
	height:80px;
	background:url(images/sub_topbar_bg.jpg);
}
.sub_top_logo{
	float:left;
	display:inline;
	margin:5px 0 0 27px;
	height:75px;
	overflow:hidden;
}
.topbar_ad{
	float:left;
	margin:38px 0 0 45px;
	font-size:14px;
	font-weight:bold;
	color:#A58029;
}
/**主体内容样式**/
.sub_content_top{
	height:20px;
	background:url(images/sub_content_top.jpg);
}
.sub_content_bg{
	height:390px;
	min-height:390px;
	padding-left:24px;
	background:url(images/sub_content_bg.jpg) repeat-x left top;
}
.sub_content{
	height:390px;
	min-height:390px;
	padding-left:38px;
	background:url(images/sub_content_border.jpg) repeat-y left top;
}
.sub_content_bottom{
	height:15px;
	background:url(images/sub_content_bottom.jpg);
}
.content{
	width:880px;
}
.get_password_title{
	height:73px;
	border-bottom:1px solid #DBC696;
}
.content_title{
	height:35px;
	line-height:35px;
	margin-bottom:5px;
}
.path{
	text-align:right;
	color:#999999;
	line-height:35px;
}

/**找回密码**/
.get_password{
	width:600px;
	margin:0 auto;
}
.notice{
	font-size:16px;
	font-weight:bold;
	color:#666666;
}
.table_left{
	float:left;
	width:175px;
	height:175px;
	border-top:1px dashed #666666;
	border-bottom:1px dashed #666666;
	font-size:14px;
	margin-top:15px;
	line-height:134px;
	color:#666666;
}
.table_right{
	float:left;
	width:425px;
	height:175px;
	border-top:1px dashed #666666;
	border-bottom:1px dashed #666666;
	margin-top:15px;
}
.mail_input_text{
	width:265px;
	height:22px;
	border:1px solid #DCD8D0;
	margin:54px 0 0 4px;
	line-height:22px;
}
.get_password_button{
	margin-top:15px;
}


/**底部样式**/
.foot{
	height:70px;
	margin-top:15px;
	overflow:hidden;
	background:url(images/foot_bg.jpg);
}
.foot_logo{
	float:left;
	margin:10px 10px 0px 30px;
	display:inline;
}
.foot_line{
	float:left;
	width:1px;
	height:60px;
	background:url(images/foot_line.jpg);
	margin-top:10px;
}
.foot_menu{
	float:left;
	width:770px;
	height:25px;
	line-height:25px;
	margin:15px 0 0 40px;
	text-align:center;
}
.foot_menu .name{
	float:left;
	width:70px;
}
.foot_menu .line{
	float:left;
	width:10px;
	height:22px;
	line-height:22px;
}
.copyright{
	margin-left:50px;
	display:inline;
	float:left;
	height:58px;
	color:#666666;
}