.hide{ display:none;}

#cenback{
	float:left;
 	width:100%!important;
}

#cenback table tr td{ vertical-align:top; }
/** 左边 **/
.left{
	float:left;
	width:140px;
	min-height:500px;
  }


/** 左边组件信息 **/
.user{
	height:101px;
	background:url(../images/userbg.gif) no-repeat center center;
 }

 .user_name{
	float:right;
	width:100px;
	height:58px;
	font-family:Arail;
	text-align:center;
	margin:18px 0px 0px 0px;
 }

 .user_company
 {
	color:black;
	text-align:center;
 }
.component,.component2{
	display:block; 
}
.component{ margin:5px 10px; clear:both; min-height:450px; *height:450px;  }	
.component2{ padding:0px 5px;
}

#header{  }
.status{ height:50px; overflow-y:hidden; }


.logo{
	float:left; 
	font-size:28px;
	font-family:Arial;color:white; font-weight:bold;
	background:url(../images/logo.gif) no-repeat 8px 5px;
	width:220px;height:52px;
 }

.company_name{ float:left; font-family:'微软雅黑','宋体';color:#ddd;font-size:14px; padding:5px 0px 0px 15px;}
.footer{
	min-height:53px;
	.height:53px; 
	margin:10px 0px 0px 0px;
	border-top:1px solid #B5D9B6;
	padding-top:10px;
	text-align:center; 
	background:#F6F6F6;
}

.mainmenu{
	clear:both;
	height:31px;
	background:url(../images/nav-bg.gif) repeat-x left top; 
	padding-left:12px;
}
.short{   float:right; width:120px; height:28px; font-size:12px; padding-left:35px;background:url(../images/short-bg2.gif) no-repeat left 1px;}
.short ul li{ width:70px; float:left; text-align:center;	font-size:14px;}


ul.menu{ }
ul.menu li{
    float:left;
	position:relative; 
  	cursor:pointer;
    text-align:left; 
	padding:0px 20px; 
	height:30px;margin-right:10px;
}
 
.menu  .elite{ background:#587AB8; }
.menu li a{color:white; font-size:14px; line-height:12px;padding-top:10px; display:inline-block;}
.menu li a:hover{ color:white; }
.menu li.active{ background:url(../images/b3.gif) repeat left 1px; background:url(../images/nav-bg.gif) repeat-x left -38px; }

/**.menu li.active a{ color:#666;}
.menu li.active a:hover{ color:#666; }**/



/** 子菜单 **/
.ss{
	display:none;
	position:absolute;
	left:0px;
	top:31px;
	z-index:100;
	list-style:none;padding:0px;
	
}

ul.menu li  li{ 
	height:25px;
	margin-right:0px;
	display:block;  
	border-bottom:1px solid #ddd;padding:0px;
	clear:both; 
}

ul.menu li  li a{ height:25px;
color:#333; white-space:nowrap; line-height:25px; 
padding:0px 5px 0px 18px;  font-size:12px; display:block;
float:left; width:80px; *width:100px; overflow:hidden;
/**background:url(../images/win_rb.gif) no-repeat 8px 10px; **/
}
ul.menu li  li a:hover{ color:white; background:#509555;}

.menu li.dropmenu{  }
.menu li.dropmenu .ss , .menu li.active .ss{ border:1px solid #ddd;
border-top:0px; background:#F6F9FF; border-right:1px solid #A3B1A3; border-bottom:1px solid #A3B1A3;}

.menu li.dropmenu .ss a{    }

/** 下箭头 **/
.droparr{ vertical-align:center; display:inline-block; width:7px; height:18px; background: url(../images/dropa.gif)  no-repeat right 10px; }
.active .droparr{  background: url(../images/dropa.gif)  no-repeat right 10px; }


ul.menu  li.elite li{ background:#587AB8;  }
.menu li.elite .ss{  background:#587AB8;  }
.menu li.elite .ss a{ color:white; font-size:12px; }

.submenu{ clear:both; }
.submenu .iscurrent{
	font-weight:bold;
	text-decoration:underline;
}
/** 鼠标放在导航条上的效果 **/
ul li.over{ background:url(../images/nav-bg.gif) repeat-x left -38px;}


#cpanelhome,#cpanelhome2{
	clear:both;
	margin-left:165px; 
	display: block;
	zoom: 100%;
}

#cpanelhome2{ margin-left:10px; }



/** 左边菜单 **/
.contentmenu{ 
    clear: left;
    float: left;
    list-style: none outside none;
    margin: 10px 5px 10px -155px;
	*margin-left:-78px;
    padding: 0;
    position: relative;
    width: 145px;
}
.com2{    
	width:100%; 
	float:left;
}
.com{ margin:10px 0px 10px 0px;    width:99%; }
.shoutcutmenu{   }
.shoutcutmenu .t,.navmenu .t{  background:#61A464; color:white;
*width:100%;
padding-left:8px; }
.shoutcutmenu .t{ border:1px solid blue;  background:blue;  }
.shoutcutmenu .t a,.navmenu .t a{  color:white; }
.shoutcutmenu ul li,.navmenu ul li{ display:block;  padding-left:12px; }

.contentmenu ul{ margin:0px; list-style:0px;display:block;}
 
 
.shoutcutmenu .b,.navmenu .b{   padding:5px 0px 10px 0px; 
	border:1px solid #DFDFDF; background:#fcfcfc; }

.shoutcutmenu .active,.navmenu .active{border:1px solid #eee; border-width:1px 0px; width:100%; }
  
.navmenu .jia{  cursor:pointer;  background-position:0px -34px; }

.shoutcutmenu ul li a{ display:inline-block; background:url(../images/menu-expanded2.gif) no-repeat -1px 10px; padding-left:8px; }
.navmenu ul li a{ display:inline-block; background:url(../images/menu-leaf2.gif) no-repeat -1px 10px; padding-left:10px; }
.navmenu ul li{   }

 
.filter{float:left;padding:3px 0px 0px 5px; *padding:5px 0px 0px 5px;  margin-top:5px;  color:#999;}
 



/** 菜单信息内容的管理 **/
.manage,.manage_contents,.manage_products, .manage_pages, .manage_url, .manage_menulink, .manage_feedbacks{
	padding-left:22px;
    display:-moz-inline-box;
    display:inline-block;
	background:url(../images/pages.png) no-repeat left 3px;
}
.manage_contents{ background:url(../images/contents.png) no-repeat left 3px; }
.manage_products{ background:url(../images/kuickshow2.png) no-repeat left 3px; }
.manage_url{ background:url(../images/world_link.png) no-repeat left 3px; }
.manage_menulink{ background:url(../images/folder_link.png) no-repeat left 5px; }

.manage{ background:url(../images/gnome-window-manager.png) no-repeat left 3px; }
.manage_feedbacks{ background:url(../images/gnome-window-manager.png) no-repeat left 3px; }



/** tackle 工具条外框 **/
.tackle{ margin:5px 0px 0px 0px; border-bottom:1px solid #6EBD83; 
  height:45px;overflow:hidden;
clear:both;width:100%;background:url(../images/tackle_bg1.gif) repeat-x left top; }


/** 列表 **/
table {
	font-size:12px;
}
table.listtable{
 	width:100%;
	clear:both;
	background-color:#FFFFFF;
	border:1px solid #B6DAB7;
	border-width:0px 1px 2px 1px;
	margin-top:10px;
}
 
table.listtable tr td{
	line-height:20px;
	padding:2px 5px;
 	border-bottom:1px solid #eee;
	color:#555;
 }
table.listtable tr th{
	line-height:25px;
	padding:0px 5px;
	font-size:12px;
 }
 table.listtable tr th{
    height:25px;
    line-height:25px; 
	border:1px solid #ddd; 
	border-top:1px solid #C5E6C5;
	color:#666;  font-weight:normal;
	background:url(../images/sw_tabs_left.gif) repeat-x #E9F3FF left -32px;;
 }
table.listtable thead tr th img{ vertical-align:middle; margin-top:-1px;}
table.listtable .thumb{ float:left; margin-right:10px; }

table.spec{ border:1px solid #e5e5e5; border-bottom:1px solid #ccc;}
table.spec tr th{ background:#efefef; border:1px; border-color:#eee #e9e9e9;}
table.spec tr td{padding-bottom:3px;}

.fb{ font-weight:bold; }	/**列表字体加粗**/
.help{ padding:5px 0px 0px 0px; color:#999; }


.comment{ border:1px solid #f0f0f0; background:#fcfcfc; margin:10px 0px; padding:10px; }
.comment_foot{ border-top:1px solid #f0f0f0; }
.comment .re{ width:100%; background:white; border:1px solid #eee; }
.comment ul li{ padding-left:10px; display:block;  } 


/** 表单表格样式 **/
.formtable tr{  }
.formtable{
    clear:both;
	width:100%;
 	background:white;border-collapse:collapse;
 	border-top:1px solid #eee;
}
.formtable th{
 	font-weight:bold;
	
} 
.formtable tr td, .formtable tr th{
	padding-left:5px;  
	line-height:20px;
		border:1px solid #eeeeee;border-width:0px 1px 1px 1px;
	padding:5px 10px;
	background:white;
	color:#666;
 }

.formtable tr.style1 td{
 
}

.formtable tr.style2 td{
   background:white;
	padding-left:12px;
	_padding-left:10px;
}


.formtable  .form_text{
 	padding-left:10px;
	background:#EFEFEF;
	text-align:right;
	width:22%; 
	vertical-align:top;
	color:black;  
}
table.formtable2{ margin-top:0px; background:transparent; }
.tips{ color:red; width:10px;display:inline-block; text-align:left;}
table.attrtable{ border:1px solid #E5E5E5; }


/** 编辑商品的切换菜单 ****/
.editor-tabs{  margin-top:8px; border-left:1px solid #ddd;    height:29px;
background:url(../images/1.gif) repeat-x left bottom; }
 
.editor-tabs ul li{  
	border:1px solid #ddd; float:left;
	padding:0px 15px; border-width:1px 1px 0px 0px;  cursor:pointer; 
	background:url(../images/sw_tabs_left.gif) repeat-x left -30px;/**-59px;**/
	height:28px; 
}
.editor-tabs ul li .active{ height:30px;}

.switch_con li{ padding:10px; min-height:200px;*height:200px; border:1px solid #ddd; border-top:0px; display:none; background:white; *float:left; *width:100%; }
.switch_con .active{ display:block;  }


#pimg{ height:150px;}
.pimg_list ul li{  display:inline; border:0px;padding:2px;height:50px; min-height:80px;width:55px; float:left; }
.pimg_list .pimg_thumb{ border: 1px  dotted #DDDDDD; width:50px;margin-bottom:5px; }
.pimg_list .active{ border:1px solid red;}


.related li{ width:146px; float:left; text-align:center;}
.a_thumb{  }



/** 商品上传缩略图 **/
#uploadthumb td{ background:#FFF6BF; }
/** 内容管理( 编辑表单标题 ) **/
.title_text{
	float:left;
	width:100px;
}

/*** 内容编辑表单 ***/
.switch_btn{ 
	 
}
.switch_btn li{ 
 }

.switch_btn li.hover{ background-position:left -59px;}
.switch_btn li.active{  
	background:white;
 } 

.formbtn{ height:30px;text-align:center; padding:10px 0px 0px 0px; }


/** .apply_btn **/
.formbtn .submit_btn,.formbtn .apply_btn,.formbtn .cancel_btn,.btn,.btn2,.sbutton,.selectseries{ 
	background:url(../images/tablethbg.gif) repeat-x #E9F3FF left top; 
	padding:2px 10px; 
}
.sbutton{ padding:0px 5px;}
.selectseries{ padding:0px 0px;}
.btn2{ padding:0px; }


/** 商品规格 **/

/** 商品规格图片 **/
.spec_pic{ border:1px solid #3366CC; vertical-align:top; }
.spec_option{ width:50px; }




.linkproducts-table th{ text-align:center; padding:10px 0px 0px 0px;}
.linkproducts-table p{ padding:10px 0px 0px 0px;}

/** 参数表格 **/
.paramlist{
	width:100%;
	border-collapse:collapse;
}


.paramlist tr td{
 	font-size:12px; 
	border-bottom:1px solid #eee;
	vertical-align:top;
	padding:5px 0px;
}

.paramlist tr td.paramlist_key{
	text-align:right;
	padding-right:5px;
	font-weight:bold;
	width:121px !important;	width:103px;
}
.des{ color:#aaa;}

.paramlist tr td.paramlist_value
{
}

.paramlist .editlinktip{

}


.menu_parameter table tr td{ 
	border:0px; 
}




/** 工具条 **/
.toolbar{
    width:100%;
	text-align:left; padding-bottom:0px;
    /**background:url(../images/tools_bg.gif) repeat-x left 39px;**/
} 
.tools{	
	float:right; height:42px; margin-top:0px;
}
/** 子工具条 **/
.subbar ul{ border-left:0px solid #ddd; float:left; }
.subbar ul li{   float:left; width:80px; border:0px;  margin:0px;  padding:0px 10px 0px 0px; display:inline-block;min-height:0px;  height:14px; overflow:hidden; line-height:12px; }
.subbar .act  a{ color:red;}
.subbar ul li.normal_li,.subbar ul li.active_li{ width:auto; line-height:32px;height:auto; }
.subbar .active_li a{ color:red;}
/** 两边加了边框 **/
.tool_border{   }


/** 工具条按钮 **/
.btn_add,.btn_default, .btn_move, .btn_edit, .btn_copy , .btn_recycle , .btn_delele , .btn_cancel ,.btn_apply , .btn_save, .btn_lock, .btn_unlock, .btn_help,.btn_back{
	width:50px;
 	float:left;
	margin-top:0px;
	padding-top:20px;
	text-align:center;
	background:url(../images/btn5.gif) no-repeat -6px top;
}

.btn_add{ background:url(../images/btn5.gif) no-repeat 10px top; }  /***添加 ***/
.btn_default{ background:url(../images/btn5.gif) no-repeat -502px top; }  /***添加 ***/

.btn_move{ background:url(../images/btn5.gif) no-repeat -160px top; }	/** 移动 **/
.btn_copy{ background:url(../images/btn5.gif) no-repeat -243px top; }	/** 复制 **/
.btn_recycle{ background:url(../images/btn5.gif) no-repeat -288px top; }	/** 回收站 **/
.btn_delele{ background:url(../images/btn5.gif) no-repeat -202px top; }  /** 删除 **/
.btn_lock{ background:url(../images/btn5.gif) no-repeat -75px top; }  /** 锁上 **/
.btn_unlock{ background:url(../images/btn5.gif) no-repeat -450px top; }  /** 解锁 **/

.btn_cancel{ background:url(../images/btn5.gif) no-repeat -330px top; }	/** 取消 **/
.btn_apply{ background:url(../images/btn5.gif) no-repeat -372px top; }	/** 应用 **/
.btn_save{ background:url(../images/btn5.gif) no-repeat -117px top; }	/** 保存 **/
.btn_edit{ background:url(../images/btn5.gif) no-repeat -36px top; }	/** 编辑 **/

.btn_help{ background:url(../images/btn5.gif) no-repeat -415px top; ;} /** 帮助 **/
.btn_back{ background-position:-555px top; }

 
/** 组件图标 **/
.com_,.com_contents{
  	display:block;
 	text-align:left; 
	font-weight:bold;
	
 }
.com_ li{
	float:left;
	height:20px; padding-left:5px;padding-right:5px;
	color:#1A418E; *overflow:hidden;
	display:inline;  
	margin-right:5px; font-size:14px; 
}
.com_ .active_li{ 
	font-family: '宋体';
	color:#666; 
	background:none; 
}
.com_ li a{ color:#61A464;  }
.com_ li a:hover{ }
.com_ .active_li a{ color:#666;text-decoration:none;   }

.com_ .normal_li{

}



/**** 编辑、删除 ********/
.list_edit, .list_del{padding:2px 0px 2px 12px;}
.list_edit{background:url(../images/menuico.gif) no-repeat left -677px;}
.list_del{background:url(../images/menuico.gif) no-repeat left -717px;}


/** 对话框信息 -------------------------------------------------------------  **/

/** mask样式 **/
.mask{
	position:absolute;
	top:0px;left:0px;
	background:black;
	width:100%;
	display:none;
	filter:alpha(opacity=60); /* IE */
	-moz-opacity:0.6; /* Moz + FF */
	opacity: 0.6; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}

.wDialog{
	width:500px;
   	background:url(../images/content_bg.gif) white repeat-x left 22px;
	//position:fixed;
	position:absolute; 
	top:100px;
 	text-align:left;
	display:none;
	border:5px solid #aaa;
 }


 


/** 对话框标题 **/
.wDialog_title{
 	height:28px;
	overflow:hidden;
	padding:0px 5px; 
	background:#3A723F; 
	background: url("../images/tablethbg.gif") repeat-x scroll left 1px transparent;
}
.wDialog_cancel{
	float:right;
	cursor:pointer;
}
.wDialog_text{
	float:left;
	height:24px;
	width:50%; 
	text-align:left;
	padding-left:0px;	font-size:14px; 
	cursor:move; font-weight:bold;

}
.wDialog a{ cursor:pointer; }

iframe{ }
.wDialog_body{
	padding:0px 0px;
	
 }
#dialogiframe{
	width:100%;
	_width:100%;
 	_margin:0px 3px;
}
/** ----------------------------------------------------------------------------------- **/


#am{	
	width:300px;
	min-height:30px;
    line-height:28px;
	position:absolute; 
	top:100px;
 	text-align:left;
	display:none;
	border:1px solid #FBDA00;
	background:url(../images/27.gif) white no-repeat center center; 
	}
#am .ms{ background:url(../images/accept.png) white no-repeat left center; min-height:45px; line-height:45px; margin:0px 10px; padding-left:45px; }










/** 选择菜单弹出对话框样式 ***/
.selectmenutype{
	padding:5px 10px;
}
.selectmenutype ul li{
	display:block;
	background:url(../images/line.gif) transparent repeat-y left top;
}
.selectmenutype ul li a{
	color:red;
}

.selectmenutype ul li ul li{
	margin-left:30px;
 }

/** 菜单组件的选择 **/
.root-node{ 	background:url(../images/folderopen.gif) no-repeat transparent left 6px;	 }
.node{  		background:url(../images/minus.gif) no-repeat transparent left 6px;			}
.link-node{ 	background:url(../images/join.gif) no-repeat transparent left 6px;			}
.link-bottom{ 	background:url(../images/joinbottom.gif) no-repeat white left -25px;		 }
.alias-node {   background:url(../images/joinbottom.gif) no-repeat white left -25px; padding-left:20px;padding-top:5px; }
.root-node,.link-node,.node,.link-bottom{
	padding-left:22px;
	_padding-left:5px;
	*padding-left:5px;
}



/**--------------------  模块样式 ----------------------**/
.mod_statu{
	padding-top:10px;
	text-align:right;
	padding-right:10px;
	float:right;width:360px;  
}
.mod_statu li{ float:left; }
.mod_statu li a{padding:5px 10px 5px 20px;   }
#show{background:url(../images/statue.gif) no-repeat left 4px;}
#s_mail{background:url(../images/statue.gif) no-repeat left -34px;}
#s_user{background:url(../images/statue.gif) no-repeat left -71px; padding-left:22px;}
#s_out{background:url(../images/statue.gif) no-repeat left -115px;}

.statu_msg{ width:100px; height:20px;padding:3px 10px 0px 10px; vertical-align:top;  display:inline-block;	overflow:hidden; }
.statu_msg ul{ float:left; margin-top:0px; }
.statu_msg ul li {
    display: block;
	float:left;
    font-size: 12px;
    height: 30px;
	text-align:left; padding-left:22px;
    width: 100%; line-height:23px;background:url(../images/statue.gif) no-repeat left -34px;
}
.statu_msg ul li a{padding:0px;}
/** 选择模块的外框 **/
.select_module{ width:95%; border:1px solid #eee; margin:auto; margin-top:10px; padding:0px 10px;}
.select_module ul li{ width:24%; float:left; }


/** 列表背景 **/
.trbg1{
	 
}
.trc2 td{ background:#CBEACB; }

.trcurrent td{
	background:#FFFFCB;
 }
.nopay td{ font-weight:bold;}

 /** 转移菜单 **/
.shiftcontent{	padding:10px 20px;	}
.shiftcontent span{ font-size:12px; color:#666; }
.shiftcontent ul li{
	display:block;
}

.addtr,.deltr{ font-size:18px;   cursor:pointer; }
.deltr{  }

/** 导航背景 **/
.navigations td{
	background:#fcfcfc;
}


/** 确认对话框 **/
.confirm{
	text-align:center;
}
.yes,.no{
    display:-moz-inline-box;
    display:inline-block;
    width:60px;
	border:1px solid #eee;
	background:#f9f9f9;
	line-height:22px;
	cursor:pointer;
	border:1px solid gray;
	margin:8px;
	text-align:center;
 }
 .no{ }




 /** 移动内容时的菜单选择 **/
 .selectmenu{ width:200px; }
 .selectmenu i{ text-decoration:underline;}
.prompt{color:#666;text-align:left;line-height:18px;}


 /** 回收站管理 **/
 .recycle_list{ margin:20px;}

 .recycle_list li{
 width:100px;float:left;
 height:100px;
 margin:10px;
 text-align:center;
 border:1px solid #f0f0f0;}




 /** 列表排序时，生成的保存按钮 **/
 .order_savebtn{
	position:absolute;
	border:1px solid gray;
	line-height:18px;
	cursor:pointer;
	width:30px;
	text-align:center;
	background:#f0f0f0;
 }
 .ordering{ width:30px; }





/**  后台默认的登陆界面 **/
.cpanel_header{
	width:100%;
	text-align:left;
    *height:132px;
    min-height:132px; 
  	_overflow-x:hidden;
}

/** 企业信息 **/


.company_info,.company_info2{
	line-height:22px;
	background:white;

 }
.company_info{	min-height:400px;
	*height:400px;
 }
.company_info3,.company_info4{ 
	
	border-top: 1px dotted rgb(181, 206, 231); 
	padding:10px 5px; line-height:22px;
 }
 .company_info4{ color:#999;} 
 .company_info4 a{ color:#999;}

.company_info3 a{ color:#003399; }
.company_info{
	padding:25px 0px 0px 20px;
	margin:0px 0px 10px 0px;
	min-height:200px;

	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	border:1px solid #C3D7EB;
 }
.userinfo{ line-height:22px; }
.userinfo .lists{ border:1px solid #ddd; margin:0px 0px 10px 0px;}
.userinfo .lists td{ padding:5px 5px; }
.userinfo .lists tr.h{ border:1px solid #ddd; }
.userinfo .lists tr th{ 
	border-bottom:1px solid #ddd;  padding:5px 5px; 
	border-top:1px solid #C5E6C5;
	color:#666;  font-weight:normal;
	background:url(../images/sw_tabs_left.gif) repeat-x left -30px;
}
.lastadd .t{ font-weight:bold; margin-top:10px; }



/** ul li 模块样式 **/
.con_mod{
 	/** width:48%; **/
	width:100%;
	_height:200px;
	min-height:200px;
	border:1px solid #CCC5FD;
	margin:10px 0px 0px 0px;
 	line-height:25px;

}

.con_mod a{ color:#003399; }


/** 模块内的UL LI列表样式 **/
.con_mod ul li{
	display:block;
}


.more{ float:right; }
.cpanel{
 }
.cpanel .con{
	padding:0px 10px;
}

.cpanel .con_title{
	padding:0px 10px;
	font-weight:bold;
	line-height:30px;
}







/*** /////////////////////////////////   com_style  //////////////////////////内的样式 **/
.style_header{
	height:33px;
	background:url(../images/bg-tab2.gif) repeat-x left top;

	text-align:left;
}


/** 添加模块,选择风格 按钮 **/
.style_tool ul li{
	float:left;
	width:90px;
	height:29px;
 	margin:5px 0px 0px 5px;
	text-align:center;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
}
li.style_tool_c{ 
	
	background:url(../images/btn-tab2.gif) no-repeat -85px -5px;
}


/** 模块列表 **/
.mlist,.tlist{
	height:200px;
	display:none;
	border-bottom:2px solid #86B91C;
	background:#F7FAE6;
	text-align:left;
	border:1px solid #F7FAE6;
}
.tlist{ display:none; }

/** 已创建的模块 **/
.module_list,.module_type,.template_list{
	float:left;
	width:500px;
	height:180px;
	overflow-y:auto;
	border:1px solid #A0CE67;
	margin:10px 5px;
}



/** 推荐模块 **/
.module_type{ width:350px;}

.module_list ul li,.module_type ul li{
	width:135px;
	.width:155px;
	height:20px;
	float:left;
	margin:5px 0px 0px 5px;
	padding:2px 10px;
	font-weight:bold;
	border:1px solid #DAE7A2;
	text-align:left;
	background:white;
	line-height:22px;
	color:#4B5F29;
}

.module_list ul li a{
	float:right;
}

.m_title{
	border-bottom:1px solid #A0CE67;
	background:#EDF6CB;
	padding-left:5px;
	font-weight:bold;
	height:25px;
	line-height:25px;
	text-align:left;
}
.m_body{ width:100%;height:150px;overflow:auto; }







/*** 模板选择 ***/

.template_list{ width:800px; }
.template_list td{ width:100px; }
.template{ margin:8px 0px 0px 8px; line-height:18px; cursor:pointer; }
.template .img{  border:1px solid #A0CE67;padding:1px;}
.template .default{ border:2px solid #7186A4; }

/** 打开关闭按钮 **/
.openbtn{ 
	width:100%;	border-top:3px solid #86B91C;
 }
.cls,.cls2{
	width:32px;
	height:12px;
	margin:auto;
	background:url(../images/cls-btn.gif) no-repeat  -32px -1px;
	cursor:pointer;
}
.cls2{ background:url(../images/cls-btn.gif) no-repeat left -1px; }




/** 拖动布局 **/

/**
 * 保存和取消按钮 
 */
.style_btn{ 
	float:right;
	width:200px; 
	height:30px;
}

.style_save,.style_cancel{ 
	width:70px;
	height:30px;
	float:left;
	background:url(../images/btn.gif) no-repeat left top;
	margin-top:4px;
	margin-left:10px;
	cursor:pointer;
}
.style_cancel{ background:url(../images/btn.gif) no-repeat -70px  0px;	}

/** 预览按钮 **/
.style_preview{
	float:left; padding-top:3px;
	padding-left:5px;
}



/*** //////////////////////////////// com_boot内的样式 //////////////////////////// **/

.com_boot_f{
	background:white;
	min-height:500px;
	_height:500px;
	padding-top:10px;
	margin:0px 0px 0px 5px;
}

.boot_t{
	font-size:18px; /** 标题 **/
	font-weight:bold;
	text-align:left;
 	margin:20px 10px 10px 10px;
	padding:10px;
	

	border:1px solid #E1EBF5;
 	background:#fcfcfc;
	border-bottom:1px solid #E1EBF5;
	border-right:1px solid #E1EBF5;

 
}
.boot_t span{ font-size:12px; font-weight:normal; color:#666; }

.boot_steps{ 
	text-align:left; 
	padding:10px;
	margin:5px;
}
.boot_steps ul li{
	display:block;
	font-weight:bold;
	min-height:60px;
	line-height:22px;
}
.boot_steps span{ color:#999; display:block; font-weight:normal; padding-left:50px; }



/** 导入下方的继续按钮 **/
.boot_btn{
	padding:10px;
}

/** 开始按钮 **/
.boot_start{
	width:100px;
	height:35px;
	line-height:35px;
	border:1px solid #eee;
	margin:auto;
	background:#f0f0f0;
	border-bottom:1px solid #aaa;
	border-right:1px solid #aaa;
	text-align:center;
	cursor:pointer;
	
}



/** 导入数据主体框 **/
.boot_steps_body{
	text-align:left;
	padding:10px;
 	margin:auto;
}
.boot_steps_body ul li{ display:block; }

.boot_steps_body table tr td{ vertical-align:top; padding:2px 10px; }



/** ajax 导入提示内容 **/
.boot_import{
	padding:10px;
}
.boot_import ul li{
	display:block;
}









/*** 高级编辑器 **/

/** 购物订单样式 **/
.order_detail_frame { background:  #FFFFFF;  float:left; width:100%;   }
.order_detail_frame h2{ font-weight:bold; font-size:14px; line-height:35px; }
.ditail_frame_p { border:1px solid #DFC9B2;border-top:0px;  line-height:23px; padding:10 25px 11px;   display:block; *float:left; }
.ditail_frame_p td{ line-height:25px; }
.order_header td{ padding:5px 5px; }
.order_header{ margin:5px 0px 10px 0px; }





/** 城市 AJAX方式管理 **/
.plus,.plus_n{  float:left; margin:3px 10px 0px 0px; width:10px;height:10px; border:1px solid gray; line-height:10px; text-align:center;	 cursor:pointer; }
.plus_n{ border:none; }
.m1{ margin-left:15px; }
.m2{ margin-left:30px; }



.filter{ color:black; padding-left:15px;  }
.order_content{  padding:10px 20px;  }
.order_content ul li{ display:block; }
.order_content dl{   float:left;  margin:5px 20px 0px 0px;}
.order_content dl dt{ font-size:14px; font-weight:bold;  border-bottom:1px solid #eee; }
.order_content dl dd{ border:1px solid #ccc; }

.division{ padding:10px 0px; }
.intab{  }
.intab th{ width:100px; padding:5px 10px; text-align:right; font-size:12px; border:1px solid white; background:#eee;  font-weight:normal;  color:#555;}
.intab td{ padding-left:10px; width:200px; color:#555; }
.ptab th{ background:#eee; padding:0px 10px;}
.ptab td{ text-align:left; padding:2px 10px;}
.tbd{ border-bottom:1px solid #ccc; }
.tbd th{ border:0px;  text-align:left; }
.tbd td{ padding:2px 10px;}


.action-bar{ float:left; margin:10px 0px 0px 50px;}
.action-bar-info{ margin-top:-2px; }
.action-bar span {
    float: left;
}

.action-bar span {
    float: left;
} 
.action-bar-btns {
    background: url("../images/spage_b.gif") no-repeat scroll 0 top transparent;
    height: 24px;
    line-height: 20px;
    margin: 0 0 0 1px;
    padding-left: 5px;
}
.action-bar-btns span {
    background: url("../images/spage_b.gif") no-repeat scroll right top transparent;
    height: 24px;
    padding-right: 5px;
}
.action-bar-btns input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    padding: 3px 8px;
}

.action-bar-btns li {
    background: url("../images/spage_b.gif") no-repeat scroll 0 -28px transparent; height:20px; overflow:hidden; margin-top:1px;
}
.action-bar-btns li.first{ background:none; }


/** 付款单保存 **/
.ajax_succ{  background:url("../images/accept.png") no-repeat left top; width:120px; text-align:left; margin:auto;margin-top:60px;padding:5px 10px 10px 40px; }
.ajax_succ_re{ color:#999; }







.imgbundle {
    background-image: url("../images/bundle.gif");
    background-repeat: no-repeat;
    margin-right: 2px;
    vertical-align: middle;
	border:0px;
}






/** 导入数据库文件时的加载图片 **/
.uploading{ display:inline-block; width:18px;height:16px;background:url(../images/041.gif) no-repeat left center; }



 
/** 广告管理样式 **/
.banner_form{ background:white; border:1px solid #ddd;}
.banner_form tr td{ padding:10px; border-bottom:1px solid #ddd; }
.banner_thumb{ width:200px; min-height:100px; text-align:center;  }
.banner_thumb .img{ border:1px solid #ddd; width:200px; height:80px; text-align:center; padding-top:40px; }
.banner_in{ padding:0px 0px 0px 10px; line-height:25px; }
.banner_in .text{   height:22px; border:1px solid #ddd; }



/** 商品咨讯**/
.re_txt{ border:1px solid #BDE0BE; padding:3px 5px; background:#FEFDED; }