<div style="margin: 15px auto; width: 776px; line-height: 1.8em; text-align: left;">
    <table style="border-bottom: 1px solid rgb(203, 203, 203); border-collapse: collapse;" border="0" cellpadding="0" width="100%">
      <tbody><tr>
        <td align="left" valign="bottom"><strong style="padding: 0pt 20px; color: rgb(154, 0, 0); background-color: rgb(232, 232, 232); display: inline-block; height: 26px; line-height: 26px;">天亿网注册账户激活通知</strong></td>
        <td align="right"><img src="http://www.daybillion.cn/images/image/logo-3.png" alt="天亿网"></td>
      </tr>
    </tbody></table>
    <div style="margin-left: 25px; margin-right: 25px;">

    	<p style="margin: 0pt; padding: 0pt;">
		<strong style="color: rgb(204, 2, 2); display: inline-block; padding-top: 23px; padding-bottom: 7px;">
		感谢你注册天亿网!</strong>
		<br>您的账号为: <{$name}> <br>
		您email为：<{$email}><br>
		<span style="color: rgb(204, 2, 2); display: inline-block; padding-bottom: 20px;">
		服务账号只用于你在获得天亿客户服务时，是为更易于向客服清楚表达而设置的唯一身份认证
		</span>
		
		<br>

请马上点击以下注册确认链接，激活你的天亿帐号！<br> 
<a rel="nofollow" target="_blank" href="<{$activatelink}>" style="color: rgb(5, 44, 161); font-size: 12px;"><{$activatelink}></a><br>
(该链接在48小时内有效，48小时后需要重新注册)<br> 
如果通过点击以上链接无法访问，请将该网址复制并粘贴至新的浏览器窗口中。<br> <span style="display: inline-block; padding-top: 20px; padding-bottom: 30px;">如果您错误地收到了此电子邮件，您无需执行任何操作来取消帐户！此帐户将不会启动。</span>     
        </p>

        <strong style="border-bottom: 1px dashed rgb(204, 204, 204); display: block; margin-bottom: 10px;">天亿网的相关产品服务</strong>
		<table border="0" width="100%">
          <tbody><tr>
            <td><a rel="nofollow" target="_blank" href="http://www.oray.cn/peanuthull/"><img src="http://www.oray.cn/img/2010/01/t5.jpg" alt="花生壳" style="border: medium none ;"></a></td>
            <td><a rel="nofollow" target="_blank" href="http://domain.oray.cn/"><img src="http://www.oray.cn/img/2010/01/t2.jpg" alt="玉米酷" style="border: medium none ;"></a></td>
          </tr>
          <tr>
            <td><a rel="nofollow" target="_blank" href="http://www.oray.cn/olivemail/"><img src="http://www.oray.cn/img/2010/01/t1.jpg" alt="橄榄邮" style="border: medium none ;"></a></td>

            <td><a rel="nofollow" target="_blank" href="http://www.oray.cn/yctou/"><img src="http://www.oray.cn/img/2010/01/t4.jpg" alt="洋葱头" style="border: medium none ;"></a></td>
          </tr>
          <tr>
            <td><a rel="nofollow" target="_blank" href="http://www.oray.cn/site/"><img src="http://www.oray.cn/img/2010/01/t3.jpg" alt="智能建站" style="border: medium none ;"></a></td>
            <td></td>
          </tr>        
        </tbody></table>
        <p style="text-align: right; font-size: 12px;">Oray&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>2010/01/27</p>
    </div>

</div>