<div style="margin: 15px auto; width: 776px; line-height: 1.8em; text-align: left;">
    <table style="border-bottom: 1px solid rgb(203, 203, 203); border-collapse: collapse;" border="0" cellpadding="0" width="100%">
      <tbody><tr>
        <td align="left" valign="bottom"><strong style="padding: 0pt 20px; color: rgb(154, 0, 0); background-color: rgb(232, 232, 232); display: inline-block; height: 26px; line-height: 26px;">UI58-找回密码</strong></td>
        <td align="right"> </td>
      </tr>
    </tbody></table>
    <div style="margin-left: 25px; margin-right: 25px;">

    	<p style="margin: 0pt; padding: 0pt;">
		<strong style="color: rgb(204, 2, 2); display: inline-block; padding-top: 23px; padding-bottom: 7px;">
		感谢你使用ui58.com!</strong>
		<br>您的账号为: <{$name}> <br>
		您email为：<{$email}><br>
		<span style="color: rgb(204, 2, 2); display: inline-block; padding-bottom: 20px;">
		服务账号只用于你在获得ui58客户服务时，是为更易于向客服清楚表达而设置的唯一身份认证
		</span>
		
		<br>

请马上点击以下确认链接，重设您的ui58密码！<br> 
<a rel="nofollow" target="_blank" href="<{$activatelink}>" style="color: rgb(5, 44, 161); font-size: 12px;"><{$activatelink}></a><br>
(该链接在48小时内有效，48小时后需要重新申请)<br> 
如果通过点击以上链接无法访问，请将该网址复制并粘贴至新的浏览器窗口中。<br> <span style="display: inline-block; padding-top: 20px; padding-bottom: 30px;">如果您错误地收到了此电子邮件，您无需执行任何操作来重设您的密码。</span>     
        </p>

 
        <p style="text-align: right; font-size: 12px;">ui58.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><{$date}></p>
    </div>

</div>